@import "tailwindcss";
@tailwind utilities;
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "lemonade";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* effects */
  --depth: 1;
  --noise: 0;
}

:root,
[data-theme] {
  background-color: var(--root-bg, var(--color-base-100));
  color: var(--color-base-content);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  margin: 1em 0 0.5em 0;
  line-height: 1.2;
}

h1 { font-size: 2.5rem; }  /* ~40px */
h2 { font-size: 2rem; }    /* ~32px */
h3 { font-size: 1.5rem; }  /* ~24px*/
h4 { font-size: 1.25rem; } /* ~20px */
h5 { font-size: 1.125rem; }/* ~18px */
h6 { font-size: 1rem; }    /* ~16px */


/* Optional: Absätze */
p {
  margin: 0 0 1em 0;
}

ul, ol {
  margin: 0 0 1em 1.5em;
}

a {
  text-decoration: none;
}

/* Navbar */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.navbar {
  height: 80px;
  align-items: center;
}

.navbar button {
  border: 0px;
  outline-width: 0px;
  box-shadow: none;
  background-color: transparent;
  transform: scale(1.5);
}

.navbar button:hover {
  border: 0px transparent;
  background-color: transparent;
  transform: scale(1.5);
  box-shadow: 0;
  outline-width: 0px;
}

.navbar button:hover {
  background-color: transparent;
  border: none;
  color: #fff;
}

.logo h1 {
  font-weight: bolder;
  font-size: xx-large;
  text-align: left;
  margin: 0;
}

.menu {
  position: absolute;
  top: 4rem;
  right: 1rem;
}

/* Home Content */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 80px 0;
}

.hero {
  background-image: url("./assets/pexels-adonyi-foto-1414651.jpg");
  background-size: cover;
  font-size: 1.25rem;
}

/* Category section */
.cat-wrapper {
  min-height: 300px;
  background-image: url('./assets/pexels-goumbik-349610.jpg');
  background-size: cover;
  margin: 0;
  padding: 1rem 0;
}

.cats {
  min-height: 300px;
  margin: 2rem 2rem 80px 2rem;
}

div.card-body h3 {
  font-size: 20px;
}

.card-title {
  margin: auto 0.5rem 0.5rem 0.5rem;
}

/* Latest Recipes Section */
.breakfast-wrapper {
  min-height: 300px;
  padding: 1rem;
  margin: 0;
}

/* Details page */
.recipe-detail {
  max-width: 800px;
  margin: 2rem;
  background-color: #fff;
  padding: 0.5rem 2rem 2rem 2rem;
  border: 1px solid #ccc;
}

.recipe-detail h1 {
  text-align: center;
}

.recipe-detail img {
  width: 100%;
  height: auto;
  aspect-ratio: 8 / 4;
  object-fit: cover;
  border-radius: 1rem;
}

.recipe-detail p {
  margin: 1rem 0;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  max-height: 60px;
  margin: 0;
}

footer p {
  margin: 0;
}

