@import "tailwindcss";
@plugin "daisyui"  {
  themes: light --default, light --preferslight, lemonade;
}

:root,
[data-theme] {
  background-color: var(--root-bg, var(--color-base-100));
  color: var(--color-base-content);
}


/* Navbar */
.navbar button {
  border: none;
  background-color: transparent;
  transform: scale(1.5);
}

.navbar button:hover {
  background-color: transparent;
  border: none;
  color: #fff;
}

.logo {
  font-weight: bolder;
  font-size: xx-large;
}

.menu {
  position: absolute;
  top: 4rem;
  right: 1rem;
}

/* Home Content */
main {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin: 1rem;
}

/* Footer */
footer {
  display: flex;
    justify-content: center;
  flex-shrink: 0;
  position: fixed;
  margin: 0;
  bottom: 0;
}

.align-left { /* Navigation title */
  text-align: left;
}